@CHARSET "ISO-8859-1";

#header{
	background-color: #aaf;
	font-weight: bold;
	height: 150px;
	font-size: 100px;
	font-family: Arial;
	text-align: center;
	line-height: 150px;
}

body {
  font-family: "arial", sans-serif;
}

input, textarea {
	background-color: #eef;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 2px 5px;
}

input[type=submit] {
	background: #eef;
	border: 0;
	padding: 7px;
	border: solid #aaf;
	border-radius: 10px;
}

input[type=submit]:hover {
	background-color: #559;
	color: white;
}

span[id*=errors] {
	color: red;
	border: 3px solid #ff0000;
	margin: 3px 0px;
	display: inline-block;
}

body>a {
	background-color: #eef;
	margin-top: 3px;
	display: inline-block;
	padding: 3px;
	border: solid #aaf;
	border-radius: 10px;
	text-decoration: none;
}

p>a {
	background-color: #eef;
	margin-top: 3px;
	display: inline-block;
	padding: 3px;
	border: solid #aaf;
	border-radius: 10px;
	text-decoration: none;
}

body>a:hover {
	background-color: #559;
	color: white;
}

p>a:hover {
	background-color: #559;
	color: white;
}

p{
	margin: 0;
}

body table tr:hover {
	background-color: #cfc;
}

table {
	border-collapse: collapse;
	text-align: left;
}

table td {
	padding: 3px 20px;
}

table th {
	padding: 3px 20px;
	background-color: #aaf;
}

table a {
	letter-spacing: 2px;
	font-size: 14px;
}

table a:hover {
	color: red;
}

table tr:nth-child(2n) {
	background-color: #eef;
}

select {
	background: #eef;
	border: 0;
	border: solid #aaf;
	border-radius: 4px;
	margin-bottom: 5px;
}

option {
	background: #aae;
	border: 0;
	border: solid #aaf;
	border-radius: 4px;
}