@CHARSET "ISO-8859-1";

/* ------------ General ------------ */

body{ 
	font-family: "arial", sans-serif;
	margin: 0;
}

.linkP{ 
	background-color: #eef;
 	margin-top: 3px;
 	display: inline-block;
 	padding: 3px;
 	border: solid #aaf;
 	border-radius: 10px;
  	text-decoration: none;
}

.container{
	margin-left: 10px;	
}

.linkP:hover{ 
	background-color: #559;
 	color: white;
}

a:link, a:visited, a:hover, a:active{ 
	color: black;
 	text-decoration: none;
}

select{ 
	background: #eef;
 	border: 0;
 	border: solid #aaf;
 	border-radius: 4px;
	margin-bottom: 5px;
}

option{ 
	background: #aae;
 	border: 0;
 	border: solid #aaf;
	border-radius: 4px;
}

input, textarea{ 
	background-color: #eef;
 	border-radius: 10px;
 	margin-bottom: 10px;
	padding: 2px 5px;
}

input[type=submit]{ 
	background: #eef;
 	border: 0;
 	padding: 7px;
 	border: solid #aaf;
	border-radius: 10px;
 	cursor: pointer;
	width: 60px;
}

input[type=submit]:hover{ 
	background-color: #559;
 	color: white;
}

p{ 
	margin: 0;
}

p>a{ 
	background-color: #eef;
 	margin-top: 3px;
 	display: inline-block;
 	padding: 3px;
 	border: solid #aaf;
 	border-radius: 10px;
	text-decoration: none;
}

p>a:hover{	
	background-color: #559;
 	color: white;
}

span[id*=errors]{ 
	color: red;
 	border: 3px solid #ff0000;
 	margin: 3px 0px;
 	display: inline-block;
}

/* ------------ Header ------------ */

#header{ 
	background-color: #aaf;
 	font-family: Arial;
 	text-align: center;
 	min-width: 1200px;
 	font-weight: bold; 
	height: 80px; 
	font-size: 40px; 
	text-align: center; 
	line-height: 80px; 
}

#user{ 
	float: left; 
	top: 0; 
	left: 0; 
	margin:0; 
	font-size: 20px; 
	height: 50px; 
	margin-left: 10px; 
}

#signout{  
	float: right; 
	font-size: 15px; 
	margin-right: 10px; 
}

/* ------------ List ------------ */

#table{ 
	border-collapse: collapse; 
	text-align: left; 
	width: 100%; 
	min-width: 1200px;
}

#table td{	
	padding: 3px 5px; 
}

#table th{	
	padding: 3px 5px; 
	background-color: #aaf; 
}

#table a{ 
	letter-spacing: 2px; 
	font-size: 14px; 
}

#table tr:nth-child(2n){ 
	background-color: #eef; 
}

#table tr:hover{ 
	background-color: #cfc; 
}

/* ------------ Login ------------- */

#login{	
	width: 300px; 
	margin: 0 auto; 
	border: 0px solid red; 
}

#loginBotton{ 
	float:right; 
}

#loginMessage{ 
	float:right; 
	margin-right: 10px; 
}

.tittle{ 
	text-align: center; 
}

/* ------------ Edit -------------- */

form>a{ 
	background-color: #eef; 
	margin-top: 3px; 
	padding: 7px; 
	border: solid #aaf;	
	border-radius: 10px; 
	text-decoration: none; 
	font-family: Arial; 
	font-size: 13px; 
	width: 40px; 
}

form>a:hover{ 
	background-color: #559;	
	color: white; 
	cursor:pointer 
}

/* ------------ Footer ------------ */

#footer{ 
	position: absolute; 
	bottom: 10px; 
	width: 97%; 
}

a.about:link, a.about:visited, a.about:hover{ 
	text-decoration: underline !important; 
	color: black; 
}

.right{ 
	float:right;  
}